.Ad {
  width: 330px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ad__label {
  padding: 5px;
  font-weight: bold;
  align-self: flex-start;
}

.Ad__img {
  height: 150px;
}

.Ad__bookTitle {
  border-bottom: 3px solid black;
}

.Ad__action {
  border-radius: 25px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  align-self: flex-end;
}
